*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
}

header {
    width:100%;
    padding-bottom: 1rem;
    display:flex;   
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.container {
    display: flex;
    justify-content: space-between;
   
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
 
}

#top_head {
    background-color: #f0f3f2;
    width:100%;
    padding: 0.5rem;
    color: #5c6c75;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    
}

#flaguk{
    height:0.8rem;
       
}

#lang_select {
   width:fit-content;
   gap:0.5rem;
}
#middle_head {
    
    height:80px;
    width:100%;
    display:flex;
    flex-direction: row;
}
#logodiv {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
   
}

#logo {
    display:flex;
    height: 2.5rem;
}

#logoname {
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    width:10rem;
    background: linear-gradient(45deg, #c59116, #d51568, #1f288d);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;

}

#searchbutton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:0.5rem;
    align-items: center;
    width:60%;
}

#searchbar {
   display:flex;
   flex-direction: row;
   justify-content:flex-start;
   align-items: center;
   width:fit-content;
   height: 41px;
   
   border: 1px solid gainsboro;
  
   border-radius: 0.5rem;
   display:none;
   
  
}
#box-search{
  
    width: 390px;
    height:30px;
    border:none;
    background-color: none;
    padding-left: 1rem;
    outline: none;

}
.search {
    color:grey;
}

#button {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start ;
    display:none;
   
  

    
}

#location{
     display:flex;
     height:41px;
     border:1px solid gainsboro;
     border-radius: 0.5rem;
     padding-right: 1.5rem;
     justify-content: center;
     align-items: center;
     padding-left: 1rem;
     gap:0.5rem;
     background-color: white;
     color:grey;
     
}

.person{
    display:inline-flex;
}

#location:hover {
    background-color: rgb(154, 149, 149);
}

#groupingdiv {


    display:flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width:fit-content;
    gap:1rem;  
    background: linear-gradient(45deg, #c59116, #d51568, #1f288d);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    position: relative;
   
 
   
}

.additional {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color:white;
    font-size:0.5rem;
    height:1.2rem;
    width:1.2rem;
    border-radius:0.8rem;
    position: absolute;
    top:25%;
    left:10%;
   
    
}

.additional1 {
         left:77%;
}

.link {
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;

}

#bottom_head {
           display:flex;
           flex-direction: row;
           justify-content: flex-start;
           margin-left: 31%;
           gap: 2rem;
           display:none;
}

#dep{
     display:flex;
     justify-content: center;
     align-items: center;
     width:15%;
     gap:0.5rem;
     padding:0.5rem;
     color:white;
     background: darkgreen;
     border-radius: 0.5rem;
}

#dep:hover{
    background-color: rgb(74, 181, 74);
}

#common {
       display:flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       background-color: white;
       border:none;
}

#common:hover {
    color: green;
}

#dashboard {
         display:flex;
         flex-direction: row;
         justify-content: center;
         align-items:center;
         text-decoration: none;
         color:black;

}

#dashboard:hover {
         color:green;
}



@media only screen and (min-width:770px) {

    #span{
          display:flex;
          flex-direction: row;
    }
    #lang_select {
           display:flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
    }

    #top_head {
           display:flex;
           flex-direction: row;
           justify-content: space-between;
           margin:auto;
    }
}

@media only screen and (max-width:770px) {

    
    #top_head{
         width:100%;
    }
    #top_head .container {
               justify-content: center;
               margin-left: 1rem;
               margin-right: 1rem;
              
               
        }

    #lang_select {
             display:none;
               

    }

    
        
        
    }

    @media only screen and (min-width:1000px)  {
        .menu {
            display:none;

        }

        #searchbar {
           display:flex;
           margin-left: 5%;
          
         }

         #button{
            display:flex;
         }
         #bottom_head {
            display:flex;
         }
    }

    @media only screen and (max-width:1000px) {
        .additional1 {
                    left:65%;
   }
    }
    @media only screen and (min-width: 1007px) and (max-width: 1100px){


        header{
            width:100vw;
        }
        .container{
            margin-left:1.5rem;
            margin-right:1.5rem;
            justify-content: space-between;
        }

        #bottom_head {
            margin-left: 9%;
         }
       
    }



